@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	user-select: none;
}
@layer components {
	/* white - #fbfafb */
	.whiteColor {
		@apply text-[#fbfafb];
	}
	.whiteBg {
		@apply bg-[#fbfafb];
	}
	.whiteBorder {
		@apply border-[#fbfafb];
	}

	/* Aqua Menthe - #00ffbf */
	.aquaMentheColor {
		@apply text-[#00ffbf];
	}
	.aquaMentheBg {
		@apply bg-[#00ffbf];
	}
	.aquaMentheBorder {
		@apply border-[#00ffbf];
	}

	/* Black Currant - #392131 */
	.blackCurrantColor {
		@apply text-[#392131];
	}
	.blackCurrantBg {
		@apply bg-[#392131];
	}

	/* Black Bean - #230C13 */
	.blackBeanColor {
		@apply text-[#230C13];
	}
	.blackBeanBg {
		@apply bg-[#230C13];
	}

	.impText {
		@apply aquaMentheColor text-shadow-glow-mint tracking-widest;
	}
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0px;
}

/* .custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #230c139d;
	border-radius: 10px;
} */

@layer utilities {
	.text-shadow-glow-mint {
		text-shadow: 0px 0px 2px rgba(0, 255, 191, 0.46);
	}
}
